/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Noto+Serif:wght@400;700&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.centered-row {
    text-align: center;
    padding: 5px;
    justify-content: center;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Baskervville', serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

.center-content {
  display: flex;
  justify-content: center;
}


.push-down-padding {
    padding-top: 35vh;
    padding-left: 10px;
    padding-right: 10px;
}

.landing-page-title {
  font-size: 4em;
}

.landing-page-about {
  font-size: 1.5em;
}

button {
  margin: 5px;
}

.collection-view img {
  max-width: 120px;
  margin: 6px
}

.question-image {
  display:inline-block;
  max-width: 200px;
}

.question-image img {
  max-width: 100%;
}

  /*https://www.w3schools.com/css/css_align.asp*/


  /* ----------------------------------------Footer */

footer {
  background-color: #f2f2f2;
  color: #232323;
  min-height: 10vh;
  width: 100%;
}

footer .row {
  padding-top: 20px;
  text-align: center;
}

/* class name and css originally from CV CI project */
.social-links li a i {
  font-size: 32px;
  text-align: center;
  color:#232323;
  margin: 0;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #635422;
}

  /* ----------------------------------------Media Queries */

  @media(min-width: 768px) {
    .landing-page-title {
        font-size: 5em;
    }
}

@media(min-width: 768px) {
  .landing-page-about {
    font-size: 2em;
  }
}

@media(min-width: 768px) {
  .collection-view img {
    max-width: 200px;
  }
}

@media(min-width: 768px) {
  .question-image {
    max-width: 300px;
  }
}

