/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Noto+Serif:wght@400;700&display=swap');

/*--------------------Body */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*--------------------Fonts and Sizes */

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: 'Baskervville', serif;
}

.landing-page-title {
  font-size: 4em;
}

.landing-page-about {
  font-size: 1.5em;
}

.navbar-brand {
  font-size: xx-large;
}

/*--------------------Padding and Centering */

.centered-row {
  text-align: center;
  padding: 5px;
  justify-content: center;
  margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }

.center-content {
  display: flex;
  justify-content: center;
}

/*--------------------Game */

#question-text{
  margin: 10px;
}

.answer-btn {
  margin: 10px;
  max-width: 200px;
  min-width: 200px;
  border-radius: 5px;
  background-color: white;
  border: 0.5px solid black;
  padding: 10px;
}

.submit-btn {
  margin: 10px;
}

.icons span {
  font-size: 24px;
  margin: 10px;
}

#results-text {
  padding-bottom: 10px;
  padding-top: 10px;
}

/*--------------------Images */

.title-image img {
  max-width: 80px;
  margin-left: 40px;
  margin-bottom: -20px;
}

.collection-view img {
  max-width: 120px;
  margin: 6px;
}

#question-image {
  display:inline-block;
  max-width: 400px;
}

#question-image img {
  max-width: 100%;
}

.black {
  color: black
}

.green {
  color: green
}

.red {
  color: red
}

/*.icons {
  font-size: xx-large;
}*/

  /*https://www.w3schools.com/css/css_align.asp*/

  /*--------------------Buttons */

.btn-margin {
  margin: 5px;
}

.highlight {
  border: 1px solid orange;
}

.highlight-answer-option {
  border: 1px solid orange;
}

.btn-success.focus, .btn-success:focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0
}

/* ---------------------------------------- Sightings */

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

th {
  padding: 10px;
}

td {
  padding: 5px;
}

  /* ----------------------------------------Footer */

footer {
  background-color: #f2f2f2;
  color: #232323;
  min-height: 10vh;
  width: 100%;
}

footer .row {
  padding-top: 20px;
  text-align: center;
}

/* class name and css originally from CV CI project */
.social-links li a i {
  font-size: 32px;
  text-align: center;
  color:#232323;
  margin: 0;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #635422;
}

  /* ----------------------------------------Media Queries */

  @media(min-width: 768px) {
    .landing-page-title {
        font-size: 5em;
    }
}

@media(min-width: 768px) {
  .landing-page-about {
    font-size: 2em;
  }
}

@media(min-width: 768px) {
  .collection-view img {
    max-width: 200px;
  }
}

@media(min-width: 768px) {
  .question-image {
    max-width: 300px;
  }
}

